<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "doc/dtds/log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
                value="[%p: %d{yyyy-MM-dd HH:mm:ss}]: %m%n"/>
		</layout>
   </appender>
   
   <!-- Debug Config -->
   <!-- apache -->
   <logger name="org.apache" additivity="false">
       <level value="WARN" />
   </logger>
   
   <!-- spring -->
   <logger name="org.springframework" additivity="false">
       <level value="WARN" />
   </logger>
   
   <!-- log4jdbc --> <!-- SLQ Logging -->
   <logger name="jdbc.audit" additivity="false">
		<level value="WARN" />
	</logger>
	<logger name="jdbc.connection" additivity="false">
		<level value="WARN" />
	</logger>
	<logger name="jdbc.resultset" additivity="false">
		<level value="WARN" />
	</logger>
	<logger name="jdbc.sqltiming" additivity="false">
		<level value="WARN" />
	</logger>
	<logger name="log4jdbc" additivity="false">
		<level value="WARN" />
	</logger> 

	<!-- koRail -->
	<logger name="com.koRail" />

	<root>
		<level value="DEBUG"/>
		<appender-ref ref="CONSOLE"/>
   </root>
</log4j:configuration>